<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Assistant.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Assistant.My.MySettings.AssistantDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AssistantDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Assistant.My.MySettings>
            <setting name="HomeworkMonday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeworkTuesday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeworkWednesday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeworkThursday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeworkFriday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeworkSaturday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomeworkSunday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevisionMonday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevisionTuesday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevisionWednesday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevisionThursday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevisionFriday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevisionSaturday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RevisionSunday" serializeAs="String">
                <value>False</value>
            </setting>
        </Assistant.My.MySettings>
    </userSettings>
</configuration>